@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700');

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Condensed', sans-serif;
$primaryColor: #6DC77A;
$secondaryColor: #648DAC;
$orangeColor: #F8931D;
$grayColor: #828787;

a:hover, a:active, a:focus {
    text-decoration: none;
}
input, select, textarea, button {
    background-color: #FFF;
    &:focus, &:active, &:visited {
        outline: 0 !important;
    }
}
::selection {
  background: $primaryColor;
  color: #FFF;
}
::-moz-selection {
  background: $primaryColor;
  color: #FFF;
}
@mixin shift($x, $y) {
    transform: translateX($x) translateY($y);
}
@mixin rotate($deg) {
    transform: rotate($deg);
}
.transition {
    transition: all 300ms linear;
}
.appearance {
    appearance:         none;
}

@media print and (color) {
    * {
        print-color-adjust: exact;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: #404455;
    background-color: #edf2f4;
    overflow: hidden;
    line-height: 1.42857143;
    position: relative;
    height: 100vh;

    &.overFlow {
        overflow-y: auto;
    }

    @media print {
        background: transparent;
        overflow-y: auto;
    }
}

img.svg {
    opacity: 0;
}

.clearboth {
    clear: both;
}
