@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700");
a:hover, a:active, a:focus {
  text-decoration: none;
}

input, select, textarea, button {
  background-color: #FFF;
}
input:focus, input:active, input:visited, select:focus, select:active, select:visited, textarea:focus, textarea:active, textarea:visited, button:focus, button:active, button:visited {
  outline: 0 !important;
}

::selection {
  background: #6DC77A;
  color: #FFF;
}

::-moz-selection {
  background: #6DC77A;
  color: #FFF;
}

.transition {
  transition: all 300ms linear;
}

.appearance {
  appearance: none;
}

@media print and (color) {
  * {
    print-color-adjust: exact;
  }
}
body {
  font-family: "Roboto", sans-serif;
  color: #404455;
  background-color: #edf2f4;
  overflow: hidden;
  line-height: 1.42857143;
  position: relative;
  height: 100vh;
}
body.overFlow {
  overflow-y: auto;
}
@media print {
  body {
    background: transparent;
    overflow-y: auto;
  }
}

img.svg {
  opacity: 0;
}

.clearboth {
  clear: both;
}

@media print {
  @page {
    size: A4;
    margin: 2mm;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
  .pagebreak {
    page-break-after: always !important;
  }
}
body {
  background: none;
  line-height: 1;
  height: auto;
  color: #000;
  font-size: 8pt;
  padding: 0;
  margin: 0;
  overflow: auto;
}
body.landscape .header, body.landscape .footer, body.landscape .printBody {
  width: 1030px;
}

.header {
  position: fixed;
  top: 0;
  width: 730px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  background-color: #FFF;
  z-index: 2;
}
.header .logo {
  float: left;
  height: 50px;
  width: 170px;
}
.header .logo img {
  max-width: 170px;
  max-height: 50px;
}
.header .title {
  float: right;
  height: 50px;
  width: calc(100% - 180px);
  padding: 11px 0;
}
.header .title > span {
  display: block;
  border-radius: 6px;
  background-color: #000 !important;
  color: #FFF !important;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 5px;
  line-height: 28px;
  height: 28px;
}
.header .title > span button {
  float: right;
  height: 28px;
  width: 28px;
  border: 0;
  cursor: pointer;
  background-image: url("../images/print.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-color: transparent;
}
.header .title > span button.back {
  background-image: url("../images/back.png");
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  padding-top: 30px;
  line-height: 20px;
  text-align: center;
  width: 730px;
  background-color: #FFF;
  z-index: 2;
}
.footer i {
  font-style: normal;
  position: absolute;
  left: 0;
}

.headerSpacer, .footerSpacer {
  height: 60px;
}

.printBody {
  width: 730px;
  margin: 0 auto;
  font-size: 8pt;
}

.SUQRprint {
  margin: 0;
}
.SUQRprint li {
  float: left;
  width: 20%;
  padding: 5px;
  text-align: center;
}
.SUQRprint li article {
  height: 120px;
  border-radius: 6px;
  border: 1px solid #000;
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.SUQRprint li article img {
  width: 100%;
  margin-top: -20px;
}
.SUQRprint li article span {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  border-radius: 0 0 4px 4px;
  background-color: #000 !important;
  height: 16pt;
  display: table;
}
.SUQRprint li article span i {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  font-style: normal;
  font-size: 6pt;
  line-height: 8pt;
  color: #FFF !important;
}

.printTable {
  width: 100%;
}
.printTable thead tr th {
  background-color: #333 !important;
  color: #FFF !important;
  font-size: 6pt;
  padding: 2px 5px;
}
.printTable tbody tr td {
  color: #000;
  padding: 5px;
}
.printTable tbody tr:nth-child(even) td {
  background-color: #DDD !important;
}

.profile {
  background-color: #333 !important;
  border-radius: 6px;
  padding: 0 5px;
  margin-bottom: 10px;
}
.profile ul {
  margin: 0 -5px;
}
.profile ul li {
  float: left;
  padding: 5px;
  color: #FFF !important;
}
.profile ul li .title {
  display: block;
  color: #DDD !important;
  margin-bottom: 5px;
}
.profile ul li strong {
  color: #FFF !important;
}
.profile ul li:first-child {
  float: right;
}
.profile ul li:first-child img {
  width: 62px;
  height: 62px;
  border-radius: 4px;
}

.generalListing {
  padding: 0 5px;
  border-bottom: 1px solid #DDD !important;
  margin-bottom: 5px;
  break-inside: avoid !important;
}
.generalListing ul {
  margin: 0 -5px;
}
.generalListing ul li {
  float: left;
  padding: 0 5px;
  font-weight: 500;
  margin-bottom: 5px;
}
.generalListing ul li .title {
  display: block;
  color: #333 !important;
  font-weight: 400;
  margin-bottom: 2px;
}
.generalListing ul li.fullWidth {
  width: 100%;
  font-weight: 400;
}

.diseases {
  padding: 25px 5px 5px 5px;
  background-color: rgba(130, 135, 135, 0.8);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.diseases:before {
  position: absolute;
  left: 5px;
  content: "Alerts";
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  top: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: normal;
}
.diseases li {
  float: left;
  margin: 0 0 2px 12px;
  padding: 0;
}
.diseases li span, .diseases li a {
  display: block;
  padding: 2px 5px 2px 34px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left 5px center;
  height: 28px;
  line-height: 24px;
  position: relative;
}
.diseases li span:after, .diseases li a:after {
  width: 0;
  height: 0;
  border-bottom: 28px solid rgba(255, 255, 255, 0.2);
  border-right: 10px solid transparent;
  content: "";
  position: absolute;
  top: 0;
  transform: translateX(5px) translateY(0);
  z-index: 1;
}
.diseases li span:before, .diseases li a:before {
  width: 0;
  height: 0;
  border-top: 28px solid rgba(255, 255, 255, 0.2);
  border-left: 10px solid transparent;
  content: "";
  position: absolute;
  top: 0;
  transform: translateX(5px) translateY(0);
  z-index: 1;
  left: -15px;
}
.diseases li img, .diseases li img.svg, .diseases li svg {
  height: 24px;
  width: 24px;
  left: 5px;
  position: absolute;
  top: 2px;
}
.diseases li img path, .diseases li img circle, .diseases li img polygon, .diseases li img.svg path, .diseases li img.svg circle, .diseases li img.svg polygon, .diseases li svg path, .diseases li svg circle, .diseases li svg polygon {
  fill: #CB0000;
}
.diseases li:first-child {
  margin-left: 0;
}
.diseases li:first-child span::before, .diseases li:first-child a::before {
  display: none;
}
.diseases li:last-child span::after, .diseases li:last-child a::after {
  display: none;
}
.diseases.noDisease {
  padding: 0;
}
.diseases.max-ul-width {
  padding: 0;
  background-color: transparent;
}
.diseases.max-ul-width:before {
  display: none;
}
.diseases.max-ul-width li span, .diseases.max-ul-width li a {
  background-color: rgba(130, 135, 135, 0.2);
}
.diseases.max-ul-width li span:after, .diseases.max-ul-width li a:after {
  border-bottom: 28px solid rgba(130, 135, 135, 0.2);
}
.diseases.max-ul-width li span:before, .diseases.max-ul-width li a:before {
  border-top: 28px solid rgba(130, 135, 135, 0.2);
}
@media print {
  .diseases li {
    margin-left: 5px;
  }
  .diseases li span, .diseases li a {
    padding: 0 0 0 2px;
  }
  .diseases li span:before, .diseases li a:before {
    display: none;
  }
  .diseases li span:after, .diseases li a:after {
    display: none;
  }
  .diseases li span img, .diseases li span svg, .diseases li a img, .diseases li a svg {
    display: none !important;
  }
}

.marSheetDateInfo {
  text-align: right;
  border-radius: 4px;
  background-color: rgb(255, 205, 96);
  line-height: 24px;
  padding-right: 10px;
}
.marSheetDateInfo > span {
  display: inline-block;
  padding-left: 30px;
}
.marSheetDateInfo > span:first-child {
  padding-left: 0;
}

.medicinesTable article {
  margin-top: 30px;
}
@media print {
  .medicinesTable article {
    break-inside: avoid;
  }
}
.medicinesTable article .medicineNameStatus {
  margin-bottom: 5px;
}
.medicinesTable article .medicineNameStatus .medicineName {
  float: left;
  width: 405px;
  position: relative;
  padding: 0 10px 0 30px;
  height: 24px;
}
@media print {
  .medicinesTable article .medicineNameStatus .medicineName {
    padding: 0 10px 0 0;
  }
  .medicinesTable article .medicineNameStatus .medicineName i {
    display: none;
  }
}
.medicinesTable article .medicineNameStatus .medicineName i {
  position: absolute;
  height: 24px;
  width: 24px;
  background-image: url("../images/eMarMoreInfo.png");
  left: 0;
  display: block;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  top: -2px;
}
.medicinesTable article .medicineNameStatus .medicineName samp {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: #3f4253;
  font-weight: 700;
  width: 100%;
  overflow: hidden;
  height: 40px;
  display: block;
}
.medicinesTable article .medicineNameStatus .medicinesStatus {
  float: right;
  width: calc(100% - 405px);
  height: 24px;
}
.medicinesTable article .medicineNameStatus .medicinesStatus span {
  float: left;
  margin-right: 2px;
  border-radius: 4px;
  background-color: rgb(245, 152, 157);
  padding: 0 5px;
  line-height: 24px;
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.medicinesTable article .medicineInfo {
  float: left;
  width: 295px;
  margin-top: 30px;
  position: relative;
}
.medicinesTable article .medicineInfo ul li {
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(130, 135, 135);
  border-top: 1px solid #dcdede;
  overflow: hidden;
  line-height: 18px;
}
.medicinesTable article .medicineInfo ul li:first-child {
  border-top: 0;
}
.medicinesTable article .medicineInfo ul li i {
  font-style: normal;
  width: 80px;
  float: left;
}
.medicinesTable article .medicineInfo ul li span {
  width: calc(100% - 80px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
  font-weight: 700;
  color: #3f4253;
  font-family: "Roboto", sans-serif;
}
.medicinesTable article .medicineInfo .direction {
  border-radius: 4px;
  background-color: rgb(63, 66, 83);
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  color: #FFF;
  padding: 5px;
}
.medicinesTable article .medicineInfo .direction .scroll-wrapper {
  bottom: 0;
}
.medicinesTable article .medicineInfo .direction .scroll-wrapper .content {
  padding: 5px 20px 5px 5px;
  font-size: 12px;
  color: rgb(220, 222, 222);
}
.medicinesTable article .eMarTable {
  border-radius: 4px;
  background-color: rgb(228, 228, 221);
  width: calc(100% - 405px);
  float: right;
  padding: 5px;
}
.medicinesTable article .eMarTable .weeks {
  float: left;
  width: 100%;
  margin: 0 0 5px 0;
}
.medicinesTable article .eMarTable .weeks li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}
.medicinesTable article .eMarTable .weeks li:before {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #828787;
  top: 50%;
  left: 0;
  content: "";
  z-index: 1;
}
.medicinesTable article .eMarTable .weeks li:after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #828787;
  width: 1px;
}
.medicinesTable article .eMarTable .weeks li span {
  display: inline-block;
  background-color: rgb(228, 228, 221);
  padding: 0 10px;
  position: relative;
  z-index: 2;
}
.medicinesTable article .eMarTable .weeks li:first-child:after {
  display: none;
}
.medicinesTable article .eMarTable .days {
  float: left;
  width: 100%;
  margin: 0;
}
.medicinesTable article .eMarTable .days li {
  float: left;
  width: 3.5714285714%;
  text-align: center;
  border-left: 1px solid #a7b8c6;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: #828787;
  text-shadow: 0.819px 0.574px 0 rgb(255, 255, 255);
}
.medicinesTable article .eMarTable .days li strong {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #3f4253;
  display: block;
}
.medicinesTable article .eMarTable .days li:first-child {
  border-left: 0;
}
.medicinesTable article .eMarTable .days li.current {
  background-color: #fff799;
}
.medicinesTable article .eMarTable .eMarTableData {
  float: left;
  width: 100%;
  position: relative;
}
.medicinesTable article .eMarTable .eMarTableData:before {
  position: absolute;
  content: "";
  border-width: 2px;
  border-color: rgb(167, 184, 198);
  border-style: solid;
  left: -92px;
  right: 0;
  top: -1px;
  bottom: 0;
  border-radius: 4px;
  display: block;
}
.medicinesTable article .eMarTable .eMarTableData ul {
  float: left;
  width: 100%;
  position: relative;
  margin: 0;
  border-top: 1px solid #a7b8c6;
  height: 30px;
}
.medicinesTable article .eMarTable .eMarTableData ul li {
  float: left;
  width: 3.5714285714%;
  text-align: center;
  font-size: 12px;
  color: rgb(63, 66, 83);
  text-transform: uppercase;
  line-height: 20px;
  padding: 5px 0;
  border-left: 1px solid #a7b8c6;
  height: 30px;
}
.medicinesTable article .eMarTable .eMarTableData ul li:first-child {
  position: absolute;
  right: 100%;
  width: 90px;
  border-left: 0;
  line-height: 13px;
  padding: 0;
}
.medicinesTable article .eMarTable .eMarTableData ul li:first-child:before {
  position: absolute;
  content: "";
  height: 1px;
  left: 5px;
  top: -1px;
  background-color: #a7b8c6;
  width: 100%;
}
.medicinesTable article .eMarTable .eMarTableData ul li:first-of-type li:first-child:before {
  display: none;
}
.medicinesTable article .eMarTable .eMarTableData ul li:nth-child(2) {
  border-left: 0;
}
.medicinesTable article .eMarTable .eMarTableData ul li a {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #3f4253;
  color: rgb(220, 222, 222);
}
.medicinesTable article .eMarTable .eMarTableData ul li a.red {
  background-color: #cb0000;
  color: #dcdede;
}
.medicinesTable article .eMarTable .eMarTableData ul li a.orange {
  background-color: #fdc689;
  color: #3f4253;
}
.medicinesTable article .eMarTable .eMarTableData ul li a.green {
  background-color: #a3d39c;
  color: #3f4253;
}
.medicinesTable article .eMarTable .eMarTableData ul li a.missedMedicationIcon {
  background-color: transparent;
}
.medicinesTable article .eMarTable .eMarTableData ul li a.initials {
  border-radius: 2px;
}
.medicinesTable article .eMarTable .eMarTableData ul:first-of-type:before {
  content: "Time & Dosage";
  position: absolute;
  right: calc(100% + 23px);
  width: 54px;
  text-align: center;
  background-color: #FFF;
  display: inline-block;
  line-height: 1;
  top: -32px;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 2;
}
.medicinesTable article .eMarTable .eMarTableData ul:first-of-type:after {
  content: "";
  position: absolute;
  right: calc(100% + 18px);
  width: 64px;
  border: 1px solid #939696;
  border-width: 1px 1px 0 1px;
  border-radius: 4px 4px 0 0;
  height: 16px;
  z-index: 1;
  top: -20px;
}
.medicinesTable article .eMarTable .stock {
  border-radius: 4px;
  background-color: rgb(63, 66, 83);
  padding: 5px;
  float: left;
  margin-top: 5px;
}
.medicinesTable article .eMarTable .stock span {
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 205, 96);
  margin-right: 10px;
  float: left;
  line-height: 1;
}

.printReady {
  font-size: 12px;
  background: #FFF;
}
.printReady .container {
  width: 100%;
}
.printReady table {
  width: 100%;
  padding: 0;
  margin: 0;
}
.printReady .header {
  padding: 15px 0;
}
.printReady .header .logo {
  height: 80px;
}
.printReady .header .printButton {
  border: 0;
  border-radius: 4px;
  background-color: #6DC77A;
  padding: 5px 10px;
  color: #FFF;
  margin-bottom: 15px;
}
.printReady .header .printButton img.svg,
.printReady .header .printButton svg,
.printReady .header .printButton img {
  height: 18px;
  width: 18px;
  float: left;
  margin-right: 10px;
}
.printReady .header .printButton img.svg path,
.printReady .header .printButton svg path,
.printReady .header .printButton img path {
  fill: #FFF;
}
.printReady .header .date {
  font-family: "Roboto Condensed", sans-serif;
}
.printReady h4 {
  margin: 20px 0 10px 0;
  background-color: #CCC !important;
  color: #FFF;
  border-radius: 4px;
  padding: 5px;
  font-weight: 400;
}
.printReady .formInfo {
  display: block;
  padding: 5px 0;
  border-top: 1px solid #CCC;
}
.printReady .listing {
  margin-bottom: 0;
}
.printReady .listing li {
  border-top: 1px solid #CCC;
  padding: 15px 0;
}
.printReady .listing li .printInfo {
  display: block;
  margin-bottom: 15px;
}
.printReady .listing li .printInfo small {
  font-weight: 700;
}
.printReady .listing li .inlineInfo {
  display: inline-block;
  margin-right: 15px;
}
.printReady .listing li .inlineInfo strong {
  font-weight: 500;
}
.printReady .listing li .inlineInfo:last-of-type {
  padding-top: 15px;
}
.printReady .listing li .inlineInfo .smilies_table tbody tr td {
  padding: 0 10px 0 0;
  line-height: 30px;
  text-align: center;
}
.printReady .listing li .inlineInfo .smilies_table tbody tr td img.svg,
.printReady .listing li .inlineInfo .smilies_table tbody tr td svg,
.printReady .listing li .inlineInfo .smilies_table tbody tr td img {
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 10px;
}
.printReady .profileImg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}
.printReady .serviceUserMiniProfile {
  padding: 10px 0;
  border-bottom: 1px solid #DDD;
  margin-bottom: 10px;
}
.printReady .serviceUserMiniProfile small {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
}
.printReady .desc {
  padding: 10px 0;
  word-break: break-word;
}
.printReady .desc small {
  font-size: 16px;
  font-weight: 700;
}
.printReady .staffQR > div {
  width: calc((100% - 70px) / 2);
  margin: 10px;
  float: left;
  height: 200px;
  border: 1px solid #DDD;
}
.printReady .staffQR > div .name {
  display: table;
  width: 100%;
  height: 75px;
  background-color: #6DC77A !important;
}
.printReady .staffQR > div .name span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 75px;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  color: #FFF !important;
  line-height: 1;
  padding: 0 20px 0 85px;
  position: relative;
}
.printReady .staffQR > div .name span strong {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #FFF !important;
}
.printReady .staffQR > div .name span img {
  position: absolute;
  left: 0;
  top: 0;
  height: 75px;
  width: 75px;
}
.printReady .staffQR > div .logo {
  position: relative;
  height: 125px;
  padding: 5px 75px 5px 5px;
}
.printReady .staffQR > div .logo > img {
  width: auto;
  height: 75px;
  position: absolute;
  left: 10px;
  top: 25px;
}
.printReady .staffQR > div .logo i {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 115px;
  width: 115px;
  overflow: hidden;
}
.printReady .staffQR > div .logo i img {
  width: 100%;
  height: 100%;
}
.printReady .staffQR > div.back {
  display: table;
}
.printReady .staffQR > div.back > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.eMarLegends {
  position: relative;
  padding-right: 180px;
  width: 100%;
  text-align: right;
  padding-top: 20px;
}
.eMarLegends::after {
  border-radius: 4px;
  background-color: rgb(246, 150, 121);
  position: absolute;
  padding: 10px;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(28, 60, 75);
  line-height: 1.5;
  text-align: center;
  content: "Codes C, D, K, M, N, S, F and G do not effect the quantity levels";
  width: 170px;
  right: 0;
  top: 25px;
}
.eMarLegends li {
  display: inline-block;
  line-height: 20px;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 25px;
  position: relative;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(63, 66, 83);
}
.eMarLegends li:before {
  background-color: #3f4253;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  left: 0;
  position: absolute;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: rgb(220, 222, 222);
  content: attr(data-point);
  text-transform: uppercase;
  font-weight: 500;
}
.eMarLegends li.red:before {
  background-color: #cb0000;
  color: #dcdede;
}
.eMarLegends li.orange:before {
  background-color: #fdc689;
  color: #3f4253;
}
.eMarLegends li.green:before {
  background-color: #a3d39c;
  color: #3f4253;
}

/*# sourceMappingURL=print.css.map */
