@import "config";

@media print {
    @page {
        size: A4;
        margin: 2mm;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    .pagebreak {
        page-break-after: always !important;
    }
}

body {
    background: none;
    line-height: 1;
    height: auto;
    color: #000;
    font-size: 8pt;
    padding: 0;
    margin: 0;
    overflow: auto;

    &.landscape {
        .header, .footer, .printBody {
            width: 1030px;
        }
    }
}

.header {
    position: fixed;
    top: 0;
    width: 730px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    background-color: #FFF;
    z-index: 2;

    .logo {
        float: left;
        height: 50px;
        width: 170px;

        img {
            max-width: 170px;
            max-height: 50px;
        }
    }

    .title {
        float: right;
        height: 50px;
        width: calc(100% - 180px);
        padding: 11px 0;

        &>span {
            display: block;
            border-radius: 6px;
            background-color: #000 !important;
            color: #FFF !important;
            font-size: 14px;
            font-family: $secondaryFont;
            padding: 0 5px;
            line-height: 28px;
            height: 28px;

            button {
                float: right;
                height: 28px;
                width: 28px;
                border: 0;
                cursor: pointer;
                background-image: url("../images/print.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 24px;
                background-color: transparent;

                &.back {
                    background-image: url("../images/back.png");
                }
            }
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    padding-top: 30px;
    line-height: 20px;
    text-align: center;
    width: 730px;
    background-color: #FFF;
    z-index: 2;

    i {
        font-style: normal;
        position: absolute;
        left: 0;
    }
}

.headerSpacer, .footerSpacer {
    height: 60px;
}

.printBody {
    width: 730px;
    margin: 0 auto;
    font-size: 8pt;
}

.SUQRprint {
    margin: 0;

    li {
        float: left;
        width: calc(100% / 5);
        padding: 5px;
        text-align: center;

        article {
            height: 120px;
            border-radius: 6px;
            border: 1px solid #000;
            padding: 5px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                margin-top: -20px;
            }

            span {
                position: absolute;
                bottom: 5px;
                left: 5px;
                width: calc(100% - 10px);
                border-radius: 0 0 4px 4px;
                background-color: #000 !important;
                height: 16pt;
                display: table;

                i {
                    display: table-cell;
                    height: 100%;
                    vertical-align: middle;
                    font-style: normal;
                    font-size: 6pt;
                    line-height: 8pt;
                    color: #FFF !important;
                }
            }
        }
    }
}

.printTable {
    width: 100%;

    thead {
        tr {
            th {
                background-color: #333 !important;
                color: #FFF !important;
                font-size: 6pt;
                padding: 2px 5px;
            }
        }
    }

    tbody {
        tr {
            td {
                color: #000;
                padding: 5px;
            }

            &:nth-child(even) {
                td {
                    background-color: #DDD !important;
                }
            }
        }
    }
}

.profile {
    background-color: #333 !important;
    border-radius: 6px;
    padding: 0 5px;
    margin-bottom: 10px;

    ul {
        margin: 0 -5px;

        li {
            float: left;
            padding: 5px;
            color: #FFF !important;

            .title {
                display: block;
                color: #DDD !important;
                margin-bottom: 5px;
            }

            strong {
                color: #FFF !important;
            }

            &:first-child {
                float: right;

                img {
                    width: 62px;
                    height: 62px;
                    border-radius: 4px;
                }
            }
        }
    }
}

.generalListing {
    padding: 0 5px;
    border-bottom: 1px solid #DDD !important;
    margin-bottom: 5px;
    break-inside: avoid !important;

    ul {
        margin: 0 -5px;

        li {
            float: left;
            padding: 0 5px;
            font-weight: 500;
            margin-bottom: 5px;

            .title {
                display: block;
                color: #333 !important;
                font-weight: 400;
                margin-bottom: 2px;
            }

            &.fullWidth {
                width: 100%;
                font-weight: 400;
            }
        }
    }
}

.diseases {
    padding: 25px 5px 5px 5px;
    background-color: rgba($grayColor, 0.8);
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &:before {
        position: absolute;
        left: 5px;
        content: "Alerts";
        font-size: 12px;
        text-transform: uppercase;
        color: #FFF;
        top: 5px;
        font-family: $secondaryFont;
        font-weight: 700;
        line-height: normal;
    }

    li {
        float: left;
        margin: 0 0 2px 12px;
        padding: 0;

        span, a {
            display: block;
            padding: 2px 5px 2px 34px;
            background-color: rgba(255,255,255,0.2);
            color: #333;
            font-family: $secondaryFont;
            text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
            background-repeat: no-repeat;
            background-size: 24px;
            background-position: left 5px center;
            height: 28px;
            line-height: 24px;
            position: relative;

            &:after {
                width: 0;
                height: 0;
                border-bottom: 28px solid rgba(255,255,255,0.2);
                border-right: 10px solid transparent;
                content: '';
                position: absolute;
                top: 0;
                transform: translateX(5px) translateY(0);
                z-index: 1;
            }

            &:before {
                width: 0;
                height: 0;
                border-top: 28px solid rgba(255,255,255,0.2);
                border-left: 10px solid transparent;
                content: '';
                position: absolute;
                top: 0;
                transform: translateX(5px) translateY(0);
                z-index: 1;
                left: -15px;
            }
        }

        img, img.svg, svg {
            height: 24px;
            width: 24px;
            left: 5px;
            position: absolute;
            top: 2px;

            path, circle, polygon {
                fill: #CB0000;
            }
        }

        &:first-child {
            margin-left: 0;

            span, a {
                &::before {
                    display: none;
                }
            }
        }

        &:last-child {

            span, a {
                &::after {
                    display: none;
                }
            }
        }
    }

    &.noDisease {
        padding: 0;
    }

    &.max-ul-width {
        padding: 0;
        background-color: transparent;

        &:before {
            display: none;
        }

        li {
            span, a {
                background-color: rgba($grayColor, 0.2);

                &:after {
                    border-bottom: 28px solid rgba($grayColor,0.2)
                }

                &:before {
                    border-top: 28px solid rgba($grayColor,0.2);
                }
            }
        }
    }

    @media print {
        li {
            margin-left: 5px;

            span, a {
                padding: 0 0 0 2px;

                &:before {
                    display: none;
                }

                &:after {
                    display: none;
                }
                img, svg {
                    display: none !important;
                }
            }
        }
    }
}

.marSheetDateInfo {
    text-align: right;
    border-radius: 4px;
    background-color: rgb(255, 205, 96);
    line-height: 24px;
    padding-right: 10px;

    &>span {
        display: inline-block;
        padding-left: 30px;

        &:first-child {
            padding-left: 0;
        }
    }
}

.medicinesTable {
    article {
        margin-top: 30px;
        
        @media print {
            break-inside: avoid;
        }

        .medicineNameStatus {
            margin-bottom: 5px;

            .medicineName {
                float: left;
                width: 405px;
                position: relative;
                padding: 0 10px 0 30px;
                height: 24px;

                @media print {
                    padding: 0 10px 0 0;

                    i {
                        display: none;
                    }
                }

                i {
                    position: absolute;
                    height: 24px;
                    width: 24px;
                    background-image: url('../images/eMarMoreInfo.png');
                    left: 0;
                    display: block;
                    cursor: pointer;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 24px;
                    top: -2px;
                }

                samp {
                    font-family: $secondaryFont;
                    font-size: 14px;
                    color: #3f4253;
                    font-weight: 700;
                    width: 100%;
                    overflow: hidden;
                    height: 40px;
                    display: block;
                }
            }

            .medicinesStatus {
                float: right;
                width: calc(100% - 405px);
                height: 24px;

                span {
                    float: left;
                    margin-right: 2px;
                    border-radius: 4px;
                    background-color: rgb(245, 152, 157);
                    padding: 0 5px;
                    line-height: 24px;
                    font-size: 12px;
                    color: rgb(255, 255, 255);
                }
            }
        }

        .medicineInfo {
            float: left;
            width: 295px;
            margin-top: 30px;
            position: relative;

            ul {
                li {
                    font-size: 12px;
                    font-family: $secondaryFont;
                    color: rgb(130, 135, 135);
                    border-top: 1px solid #dcdede;
                    overflow: hidden;
                    line-height: 18px;

                    &:first-child {
                        border-top: 0;
                    }

                    i {
                        font-style: normal;
                        width: 80px;
                        float: left;
                    }

                    span {
                        width: calc(100% - 80px);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        float: right;
                        font-weight: 700;
                        color: #3f4253;
                        font-family: $primaryFont;
                    }
                }
            }

            .direction {
                border-radius: 4px;
                background-color: rgb(63, 66, 83);
                width: 100%;
                height: 50px;
                position: relative;
                overflow: hidden;
                color: #FFF;
                padding: 5px;

                .scroll-wrapper {
                    bottom: 0;

                    .content {
                        padding: 5px 20px 5px 5px;
                        font-size: 12px;
                        color: rgb(220, 222, 222);
                    }
                }
            }
        }

        .eMarTable {
            border-radius: 4px;
            background-color: rgb(228, 228, 221);
            width: calc(100% - 405px);
            float: right;
            padding: 5px;

            .weeks {
                float: left;
                width: 100%;
                margin: 0 0 5px 0;

                li {
                    float: left;
                    width: calc(100% / 4);
                    text-align: center;
                    position: relative;

                    &:before {
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        background-color: #828787;
                        top: 50%;
                        left: 0;
                        content: "";
                        z-index: 1;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        height: 100%;
                        background-color: #828787;
                        width: 1px;
                    }

                    span {
                        display: inline-block;
                        background-color: rgb(228, 228, 221);
                        padding: 0 10px;
                        position: relative;
                        z-index: 2;
                    }

                    &:first-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }

            .days {
                float: left;
                width: 100%;
                margin: 0;

                li {
                    float: left;
                    width: calc(100% / 28);
                    text-align: center;
                    border-left: 1px solid #a7b8c6;
                    font-size: 12px;
                    font-family: $secondaryFont;
                    text-transform: uppercase;
                    color: #828787;
                    text-shadow: 0.819px 0.574px 0 rgba(255, 255, 255, 1);

                    strong {
                        font-family: $primaryFont;
                        font-weight: 500;
                        font-size: 16px;
                        color: #3f4253;
                        display: block;
                    }

                    &:first-child {
                        border-left: 0;
                    }

                    &.current {
                        background-color: #fff799;
                    }
                }
            }

            .eMarTableData {
                float: left;
                width: 100%;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    border-width: 2px;
                    border-color: rgb(167, 184, 198);
                    border-style: solid;
                    left: -92px;
                    right: 0;
                    top: -1px;
                    bottom: 0;
                    border-radius: 4px;
                    display: block;
                }

                ul {
                    float: left;
                    width: 100%;
                    position: relative;
                    margin: 0;
                    border-top: 1px solid #a7b8c6;
                    height: 30px;

                    li {
                        float: left;
                        width: calc(100% / 28);
                        text-align: center;
                        font-size: 12px;
                        color: rgb(63, 66, 83);
                        text-transform: uppercase;
                        line-height: 20px;
                        padding: 5px 0;
                        border-left: 1px solid #a7b8c6;
                        height: 30px;

                        &:first-child {
                            position: absolute;
                            right: 100%;
                            width: 90px;
                            border-left: 0;
                            line-height: 13px;
                            padding: 0;

                            &:before {
                                position: absolute;
                                content: '';
                                height: 1px;
                                left: 5px;
                                top: -1px;
                                background-color: #a7b8c6;
                                width: 100%;
                            }
                        }

                        &:first-of-type {
                            li {
                                &:first-child {
                                    &:before {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &:nth-child(2) {
                            border-left: 0;
                        }

                        a {
                            display: inline-block;
                            height: 20px;
                            width: 20px;
                            border-radius: 10px;
                            background-color: #3f4253;
                            color: rgb(220, 222, 222);

                            &.red {
                                background-color: #cb0000;
                                color: #dcdede;
                            }

                            &.orange {
                                background-color: #fdc689;
                                color: #3f4253;
                            }

                            &.green {
                                background-color: #a3d39c;
                                color: #3f4253;
                            }

                            &.missedMedicationIcon {
                                background-color: transparent;
                            }

                            &.initials {
                                border-radius: 2px;
                            }
                        }
                    }

                    &:first-of-type {
                        &:before {
                            content: "Time & Dosage";
                            position: absolute;
                            right: calc(100% + 23px);
                            width: 54px;
                            text-align: center;
                            background-color: #FFF;
                            display: inline-block;
                            line-height: 1;
                            top: -32px;
                            font-family: $secondaryFont;
                            z-index: 2;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            right: calc(100% + 18px);
                            width: 64px;
                            border: 1px solid #939696;
                            border-width: 1px 1px 0 1px;
                            border-radius: 4px 4px 0 0;
                            height: 16px;
                            z-index: 1;
                            top: -20px;
                        }
                    }
                }
            }


            .stock {
                border-radius: 4px;
                background-color: rgb(63, 66, 83);
                padding: 5px;
                float: left;
                margin-top: 5px;

                span {
                    font-size: 12px;
                    font-family: $secondaryFont;
                    color: rgb(255, 205, 96);
                    margin-right: 10px;
                    float: left;
                    line-height: 1;
                }
            }
        }
    }
}
