@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700");
a:hover, a:active, a:focus {
  text-decoration: none;
}

::-moz-selection {
  background: #3DA492;
  color: #FFF;
}

::selection {
  background: #3DA492;
  color: #FFF;
}

::-moz-selection {
  background: #3DA492;
  color: #FFF;
}

.img-zoomer.open, .img-zoomer {
  transition: all 300ms linear;
}

.search input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #666;
  background-color: #FFF;
}

h2 {
  color: #648DAC;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin: 6px 0 30px 0;
}

h3 {
  color: #648DAC;
  font-size: 18px;
  margin: 0 0 20px 0;
}

p {
  margin-bottom: 30px;
}

header {
  background-color: #7B888F;
  height: 80px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: 10px 0;
}
header .logo {
  height: 60px;
  width: auto;
}
header section {
  height: 60px;
  padding: 9px 0;
}
header section .date {
  padding: 9px 0;
  float: left;
}
header section .date span {
  display: block;
  border-radius: 4px;
  background-color: #FFF;
  color: #666;
  font-family: "Roboto Condensed", sans-serif;
  padding: 2px 5px;
}
header section .headerIcons {
  display: inline-block;
  float: left;
  padding: 9px 0;
  position: relative;
  margin-left: 30px;
}
header section .headerIcons img.svg, header section .headerIcons svg {
  height: 24px;
  width: 24px;
  float: left;
  cursor: pointer;
}
header section .headerIcons img.svg path, header section .headerIcons svg path {
  fill: #FFF;
}
header section .headerIcons:after {
  position: absolute;
  right: -5px;
  top: 5px;
  content: "";
  background-color: #ed1c24;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  display: none;
}
header section .headerIcons.active:after {
  display: block;
}
header section .messagesAlert {
  display: inline-block;
  float: left;
  padding: 9px 0;
  position: relative;
  margin-left: 30px;
}
header section .messagesAlert img.svg, header section .messagesAlert svg {
  height: 24px;
  width: 24px;
  float: left;
  cursor: pointer;
}
header section .messagesAlert img.svg path, header section .messagesAlert svg path {
  fill: #FFF;
}
header section .messagesAlert span {
  position: absolute;
  right: -10px;
  top: 5px;
  content: "";
  background-color: #ed1c24;
  border-radius: 4px;
  color: #FFF;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 11px;
  padding: 0 5px;
}
header section .dropdown {
  display: inline-block;
  margin-left: 30px;
}
header section .dropdown button {
  height: 42px;
  width: 42px;
  border-radius: 21px;
  border: 1px solid #DDD;
  background-color: #ACB6B6;
  position: relative;
}
header section .dropdown button img.picture {
  width: 42px;
  height: 42px;
  border-radius: 21px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
header section .dropdown button span.initials {
  position: absolute;
  display: block;
  height: 42px;
  width: 42px;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  color: #FFF;
  line-height: 42px;
}
header section .dropdown button img.svg, header section .dropdown button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 18px;
  width: 18px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
header section .dropdown button .caret {
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 3;
}
header section .dropdown .dropdown-menu {
  right: 0;
  left: auto;
}

.search {
  border-radius: 4px;
  border: 1px solid #DDD;
  padding: 8px;
  position: relative;
  margin-bottom: 40px;
}
.search input[type=text] {
  color: #666;
  border: 0;
  font-size: 14px;
  width: 100%;
  padding-right: 44px;
}
.search button {
  position: absolute;
  border: 0;
  background: none;
  right: 0;
  top: 8px;
}
.search button img.svg, .search button svg {
  height: 24px;
  width: 24px;
  float: left;
}
.search button img.svg path, .search button svg path {
  fill: #666;
}

.nav-tabs {
  border: 0;
}
.nav-tabs li {
  font-size: 14px;
  width: 100%;
  font-weight: 500;
}
.nav-tabs li a {
  line-height: 44px;
  padding: 0 10px;
  color: #666;
  border-radius: 4px;
  border: 0;
}
.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
  border: 0;
  background-color: #ACB6B6;
  color: #FFF;
}
.nav-tabs li:first-child {
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
}
.nav-tabs li:first-child a {
  color: #648DAC;
}
.nav-tabs li:first-child a:hover {
  background: none;
}
.nav-tabs li:first-child.active a, .nav-tabs li:first-child.active a:hover, .nav-tabs li:first-child.active a:focus {
  background: none;
  color: #648DAC;
}

.innerLinks {
  position: relative;
  padding: 75px 0 30px 20px;
  margin-bottom: 30px;
}
.innerLinks:before {
  position: absolute;
  left: 0;
  top: 30px;
  width: 6px;
  bottom: 25px;
  border-radius: 3px;
  background-color: #3DA492;
  content: "";
}
.innerLinks:after {
  position: absolute;
  top: 40px;
  left: 20px;
  content: "Contents";
  font-size: 12px;
  color: #999;
}
.innerLinks li a {
  display: inline-block;
  color: #3DA492;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.warningNote {
  padding: 10px 15px 10px 50px;
  border-radius: 4px;
  background-color: #FEDDB8;
  position: relative;
  margin-bottom: 30px;
}
.warningNote:before {
  position: absolute;
  content: "";
  left: 15px;
  height: 24px;
  width: 24px;
  top: 8px;
  background-image: url("../images/warning-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.descrImg {
  border-radius: 4px;
  background-color: #7B888F;
  color: #FFF;
  font-style: italic;
  font-size: 12px;
  padding: 5px 5px 10px 5px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.descrImg img {
  margin-bottom: 10px;
  cursor: pointer;
}
.descrImg:before {
  content: "Click To Large";
  background-image: url(../images/search.png);
  position: absolute;
  right: 0;
  top: 0;
  background-color: #7B888F;
  background-size: 14px;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 30px;
  background-position: 10% 50%;
  border-radius: 0px 0px 0px 5px;
}

.img-zoomer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* IE 9 */ /* Safari */
  transform: scale(0, 0);
  opacity: 0;
}
.img-zoomer .image_popup {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
}
.img-zoomer .image_popup img {
  width: 100%;
}
.img-zoomer .image_popup span {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  border-radius: 100%;
  float: left;
  cursor: pointer;
}
.img-zoomer.open { /* IE 9 */ /* Safari */
  transform: scale(1, 1);
  opacity: 1;
}